@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.chatgpt__sidebar {
    // overflow-y: scroll;
    // height: 100vh;

    &::-webkit-scrollbar {
        width: 8px;
        // height: 1px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: #c5c5c5;
        border-radius: 10px;
        height: 1rem;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #999;
    }

    &--nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em 1em 0.1em 1em;
        button{
            cursor: pointer;
        }
    }

    .chat-logo {
        color: $black-color;
        font-weight: 600;
        font-size: large;
        padding-left: 0.4em;
    }

    button {
        background-color: transparent;
        border: none;
    }

    .search-icon {
        filter: invert(48%) sepia(82%) saturate(0%) hue-rotate(200deg) brightness(101%) contrast(93%);
    }

    .sidebar-icon {
        filter: invert(48%) sepia(82%) saturate(0%) hue-rotate(200deg) brightness(101%) contrast(93%);

    }

    .chat {
        color: $black-color;
        font-size: 0.9em;
        font-weight: 100;
    }

    .chatgpt__middle {
        flex: 1;
        overflow-y: scroll;
        height: 100vh;
    }

    &--top {
        display: flex;
        justify-content: flex-start;
        // align-items: center;
        flex-direction: column;
        padding: 1em;
        gap: 0.7em;
        font-size: 0.95em;
        font-weight: 100;
        color: #2b2727;

        .chat {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 0.7em;
            padding: 0.4em;
        }

        .chat:hover {
            background-color: #e3e3e3;
            // padding: 0.3em;
            border-radius: 0.5em;
            cursor: pointer;
        }
    }

    &--bottom {
        display: flex;
        justify-content: flex-start;
        // align-items: center;
        flex-direction: column;
        padding: 1em;
        gap: 0.7em;
        height: auto;

        .chat-item {
            color: $black-color;
            font-size: 0.9em;
            padding: 0.4em;
            font-weight: 100;
            cursor: pointer;
        }

        .chat-item:hover {
            background-color: #e3e3e3;
            border-radius: 0.5em;
        }


        .chat-title {
            color: $gray-color;
            padding: 0.4em;
        }
    }

    &--footer {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // align-items: center;
        width: 20vw;
        height: 5rem;
        padding: 1em;
        padding-top: 0;
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: #fff;

        div {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
        }

        .offer--btn {
            // display: flex;
            // align-items: center;
            // justify-content: center;
            @include flex-center(row);
            gap: 8px;
            padding: 0.3em;
            border-radius: 1em;
            background-color: transparent;
            border: 1px solid gray;
        }
    }
}