@mixin flex-center($direction: row) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

@mixin flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flex-start-column {
    display: flex;
    justify-content: flex-start;
    // align-items: center;
    flex-direction: column;
}

@mixin flex-start-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@mixin flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}


@mixin tablet {
    @media (max-width: 1024px) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin small-mobile {
    @media (max-width: 576px) {
        @content;
    }
}